@charset "UTF-8";

@media screen and (min-width : 768px){
    #menu{
        display: none;
    }
    
    header > nav{
        display: block !important;
    }

    header > nav > ul > li{
        display: inline-block;
    }

    main{
        width: 50vw;
    }
}

