@charset "UTF-8";

/*Demais mídias*/

/*Typical Device Breakpoints
------------------------
    Pequenas telas -> Até 600px
    Celulares -> 600px até 768px
    Tablets   -> 768px até 992px
    Desktops  -> 992px até 1200px
    Grandes Telas -> Acima de 1200px
*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
        line-height: 2em;
    }

    body{
        background-image: url(../imagens/back-print.jpg);
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and (min-width : 768px) and (max-width : 992px){
    /*Tablets*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
    }

@media screen and (min-width : 992px) and (max-width : 1200px){
    /*Desktops*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}

@media screen and (min-width : 1200px){
    /*Grandes Telas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}