@charset "UTF-8";

div{
    background-color: yellowgreen;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display:inline-block;
}

#a{
    background-color: aquamarine;
}

#b{
    background-color: yellow;
}


#c{
    background-color: violet;
}

